<<<<<<< HEAD
/* Home.js */
.HomeStyle1 {
    width: 100%;
}
.HomeStyle2 {
    width: 100%;
}

/* Search.js */
.SearchDiv1 {
    width: 100%;
}
.SearchDivL {
    float: left;
    width: 70%;
    padding: 0.5rem;
}
.SearchDivR {
    float: right;
    width: 30%;
    padding: 0.5rem;
=======
/* Home.js */
.HomeStyle1 {
    width: 100%;
}
.HomeStyle2 {
    width: 100%;
}

/* Search.js */
.SearchDiv1 {
    width: 100%;
}
.SearchDivL {
    float: left;
    width: 70%;
    padding: 0.5rem;
}
.SearchDivR {
    float: right;
    width: 30%;
    padding: 0.5rem;
>>>>>>> 560347a992719b63c0cc08357e99b422873be7b8
}